body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .navbar {
      z-index: 10;
      background-color: transparent !important;
      padding: 20px;

      .nav-link {
        &.active {
          color: #00bfff;
        }
      }
    }
  }
}

.homepage-content {
  position: relative;
  padding: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}